<div class="col-lg-6 mb-4">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#"><%= @CentroIntere.title  %></a>
      </h4>
      <p class="card-text"><%= @CentroIntere.description %></p>
    </div>
  </div>
</div>