<div class="col-lg-6 mb-4">
  <div class="card h-100">
    <%= image_tag @CentroIntere.img.medium.url, class: "card-img-top"  %>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#"><%= @CentroIntere.title  %></a>
      </h4>
      <p class="card-text"><%= @CentroIntere.description %></p>
    </div>
  </div>
</div>