<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Centro de interes
  </h1>

  <!-- Project One -->
  <% @CentroInteres.each do |centro| %>
    <div class="row">
      <div class="col-md-7">
        <%= image_tag centro.img.medium.url, class: "img-fluid rounded"  %>
      </div>
      <div class="col-md-5">
        <h3><%= centro.title %></h3>
        <p><%= centro.description %>.</p>
      </div>
    </div>
    <hr>
  <% end %>
</div>

