<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active">
      	<div class="overlay">
      		<div class="carousel-caption">
	          <h3 class="text-white display-4">Gastronomía</h3>
	        </div>
      	</div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" >
      	<div class="overlay">
      		<div class="carousel-caption">
	          <h3 class="display-4 text-white">Fútbol</h3>
        	</div>
      	</div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item">
      	<div class="overlay">
      		<div class="carousel-caption">
	          <h3 class="display-4 text-white">Artística</h3>
	        </div>
      	</div>        
      </div>
    </div>
  </div>
</header>