<h1>Detalles del Producto</h1>


<div>Titulo: <%= @event.title %></div>
<div>Descripción: <%= @event.description %></div>
<div>Fecha del evento: <%= @event.date_event %></div>
<div>Este evento va en el header: <%= @event.header_events %></div>