<section class="section_home-about"> 
  <div class="container">
    <div class="row border">
      <div class="col-md-8">
        <h1>Misión:</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum accusamus molestias illum rerum aspernatur perferendis quo amet, nihil dolores corrupti maxime, obcaecati optio dolore! Doloribus non culpa, repudiandae perspiciatis soluta!
        </p>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-4 ">    
      </div>
      <div class="col-md-8">
        <h1>
          Vision
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure illum fugiat, dolores quam sit nisi quis accusannon ullam fuga obcaecati quisquam! Atque voluptatem cumque tenetur ex tempore velit itaque.
        </p>
      </div>
    </div>
    <div class="row border">
      <div class="col-md-8 ">
        <h1>
          P.E.I
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam labore neque sit a minus et aliquid fugiat expedita, unde. Nemo harum deleniti quos provident non! Quibusdam dolorem, distinctio quo voluptates.
        </p>
      </div>
      <div class="col-md-4 ">
        
      </div>
    </div>
  </div>
</section>

