<!-- About Section -->
<section class="section__about-home page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">Acerca de</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <button type="button" data-toggle="modal" data-target="#myModalMision">
          <div class="card">
            <i class="far fa-eye"></i>
            <h3>MISION</h3>
          </div>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" data-toggle="modal" data-target="#myModalVision">
          <div class="card">
            <i class="fas fa-briefcase"></i>
            <h3>VISION</h3>
          </div>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" data-toggle="modal" data-target="#myModalPEI">
          <div class="card">
            <i class="fas fa-book"></i>
            <h3>P.E.I</h3>
          </div>
        </button>
      </div>
    </div>

  </div>
</section>


<!-- The Modal Mision -->
  <div class="modal" id="myModalMision">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">MISION</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          El Colegio Gustavo Rojas Pinilla, trabaja por el mejoramiento de la calidad de eduación formando integralmente a sus educandos, en donde se busca promover una cultura ciudadana que conlleve al desarrollo tecnológico, científico, social y económico de nuestra sociedad y trascienda a nuestro país.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
        
      </div>
    </div>
  </div>

<!-- The Modal Vision -->
  <div class="modal" id="myModalVision">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">VISION</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Ser la mejor institución de educación personalizada del país mediante la aplicación de sistemas pedagógicos, dinámicos que logran la excelencia académica y formativa de sus educandos (2005-2020).
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
        
      </div>
    </div>
  </div>

  <!-- The Modal Vision -->
  <div class="modal" id="myModalPEI">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">P.E.I</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Formación de líderes en tecnología con proyección ciudadana.
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
        
      </div>
    </div>
  </div>