<section style=" padding: 150px 0;" id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Circular Dia de la familia</h2>
          <p>A continuacion dejamos la circular para descargar, sobre el dia de la familia</p>
          <a  class= " btn alert-dark" href="circular_dia_familia.zip" download >Descarga la circular</a>
        </div>
      </div>
    </div>
  </section>