<section class="section_mapa">
	<div class="container">
		<div class="row">
			<div class="col-md-12 border">
				<h1>MAPA</h1>
				<img src="https://wallpaperplay.com/walls/full/f/6/7/234999.jpg" width="1000px">
			</div>
		</div>	
	</div>	
</section>