<section class="section__events-content">
  <!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Más eventos
  </h1>

  <div class="row">

    <% @events.each do |event| %>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100 hvr-shadow">
          <%= image_tag ( event.img ), class: "card-img-top" %>
          <div class="card-body">
            <span> <%= event.date_event %> </span>
            <h4 class="card-title">
              <a href="#">  <%= event.title %>  </a>
            </h4>
            <p class="card-text"> <%= event.description %></p>
          </div>
        </div>
      </div>
    <% end %>    
   
  </div>
</div>
<!-- /.container -->
</section>