<section class="section__events-header">
  <div class="container">
    <h1 class="my-4">Eventos
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <% if @event.img %>
          <%= image_tag @event.img, class: "figure-img img-fluid rounded img-events"  %>
        <%else%>
          <img src="https://dnw5ax76vq1gg.cloudfront.net/default.jpg" class="figure-img img-fluid rounded" alt="">
        <% end %>
      </div>

      <div class="col-md-4">
        <h2 class="my-3 text-white"> <%= @event.title %> </h2>
        <span class="text-white"><%= @event.date_event %></span>
        <p class="lead text-secundary"><%= @event.description %> .</p>
      </div>

    </div>
  </div>
</section>