<div class="section__conocenos">
	<header class="bg-primary text-white" style="background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg')">
	  <div class="container text-center">
	    <h1 class="solo">COLEGIO GUSTAVO  ROJAS PINILLA</h1>
	    <p class="lead"><h2 class="text-white">CONÓCENOS</h2></p>
	  </div>
	</header>

	<section id="about">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-8 mx-auto">
	        <h2>Gustavo Rojas Pinilla (1900-1975)</h2>
	        <hr>
	        <p class="lead">(Tunja (Boyacá), 12 de marzo de 1900 - Melgar, (Tolima), 17 de enero de 1975). Fue un dictador militar político y Presidente de Colombia, mediante un golpe de estado, desde el 13 de junio de 1953 hasta el 10 de mayo de 1957.</p>
	        <hr>


	        <p class="lead">Sus padres fueron Julio Rojas Jiménez y Hermencia Pinilla Suárez. Su infancia la vivió en el área rural de Tunja y Villa de Leyva. Hizo sus estudios primarios en el colegio de las Hermanas de la presentación de Tunja, y los secundarios en el Colegio de Boyacá. Posteriormente se preparó como normalista en la Escuela Normal de Varones de Tunja.</p>

	        <p class="lead">
	        	Inició su carrera militar en la Escuela de Cadetes de Bogotá en 1917. Obtuvo el grado de subteniente en 1920. Hacia 1923 fue ascendido a teniente del Ejército mientras se encontraba asignado en Manizales. En 1924 solicitó permiso para retirarse del servicio activo para poder realizar sus estudios de Ingeniería Civil en la Three State Collage, en Estados Unidos, donde obtuvo el título de ingeniero civil en 1927. A partir de ahí empezó a participar en la construcción de carreteras y otras obras de ingeniería dentro de su carrera militar.
	        </p>

	        <h3>La Asamblea legitimiza el golpe:</h3>
	        <hr>
	        <p class="lead">
					Mediante el Acto Legislativo No.1 junio 18 de 1953, la Asamblea decreta que "...La Asamblea Nacional Constituyente (con 61 delegados) asume las contribuciones conferidas al Senado de la República por el Art. 125...y en consecuencia declara:
					1. Que el 13 de junio del presente año quedó vacante el cargo de presidente de la República, Teniente General Gustavo Rojas Pinilla...quien ejercerá el cargo por el resto del periodo presidencial en curso", es decir hasta el 7 de Agosto de 1954, y la Asamblea debía velar por la "constitucionalidad del régimen".
	        </p>
	        <br>
								<img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Portrait_of_Gustavo_Rojas_Pinilla.png" alt="">
	      </div>
	    </div>
	  </div>
	</section>
<hr>

	<section id="services" class="bg-light">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-8 mx-auto">
	        <h1>REGLAMENTO O MANUAL DE CONVIVENCIA</h1>
	        <br><br>
	        
	        <h2>APRECIADO ESTUDIANTE</h2>
	        <p class="lead">
	        	Ahora tiene en sus manos EL MANUAL DE CONVIVENCIA GUSTAVISTA, el cual está diseñado de forma amena con el ánimo de motivarlo hacia los pilares que fundamentan el espíritu de nuestra institución: La excelencia académica. Liderazgo tecnológico, y la Convivencia Institucional. 
	        </p>
	        <hr> <br>
	        <h2>MISIÓN</h2>
	        <p class="lead">
	        	En el Colegio Gustavo Rojas Pinilla, trabaja por el mejoramiento de la calidad de educación formando integralmente a sus educandos, en donde se busca promover una cultura ciudadana que conlleve al desarrollo tecnológico, científico, social y económico de nuestra sociedad y trascendencia a nuestro país.
	        </p>
	        <br><br>
	        	<h2>VISIÓN</h2>
	        <p class="lead">
	        		Ser la mejor institución de eduación personalizada del país mediante la aplicación de sistemas pedagógicos, dinámicos que logran la excelencia académica y formativa de sus educandos (2005-2020).
	        </p>
	        <br>
	        <h2>P.E.I</h2>
	        <p class="lead">
	        		Formación de líderes en tecnología con proyección ciudadana.
	        </p>
	        <br><br>
	       	<h1>SIEE</h1>
						<hr>
	        <h2>SISTEMA DE EVALUACIÓN INSTITUCIONAL.</h2>
	        <br>
	        <p class="lead">
	        		Concepto de evaluación: En el Colegio GUSTAVO ROJAS PINILLA concebimos la evaluación, como un proceso de valoración continua, integral y permanente de los procesos de enseñanza y aprendizaje que se realizan en desarrollo del currículo de la institución. dicha evaluación como proceso metacognitivo, no es el fin del mismo, sino parte integral y continúa, por lo que se espera que tanto el evaluado y el evaluador hagan uso adecuado y pertinente la autoevaluación, la coevaluación y la heteroevaluación como instancias que fortalezcan la aprehensión y apropiación de conocimientos y el mejoramiento continuo de los procesos de enseñanza-aprendizaje y construcción de conocimiento. La evaluación, desde la visión integral, invita a observar al estudiante desde una visión que considere sus dimensiones cognitiva, socioafectiva, convivencial, ética y estética.
	        </p>

	      </div>
	    </div>
	  </div>
	</section>

	<section id="contact">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-8 mx-auto">
	        <h1 class="rex">CONTÁCTENOS</h1>
	        <ul>
	        	<li>
	        		Av Caracas #3 - 81 S
	        	</li>
	        	<li>
	        		2463642 - 2891656
	        	</li>
	        	<li>
	        		colegiogustavorojasp@hotmail.com
	        	</li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</section>	
</div>
