<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="position: relative;">
  <div style="position: absolute; top: 0px; left:0px; width: 100%; height:100%; background-color: #0000007a; z-index: 10; "></div>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://d2yoo3qu6vrk5d.cloudfront.net/pulzo-lite/images/CC7/ColegioGRP/dia+de+la+familia.jpeg');">
        <div class="carousel-caption d-md-block">
          <h3 class="display-4 text-white">Galeria</h3>
          <p class="lead">Gustavo Rojas Pinilla</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <hr class="mt-2 mb-5">
  <div class="row text-center text-lg-left">
    <% @images.each do |imagen| %>
      <div style="display: flex; align-items: center; justify-content: center;" class="col-lg-4 col-md-4 col-12">
        <%= image_tag imagen.picture, class: "figure-img img-fluid rounded", style: "height: 240px;"  %>
     </div>
    <% end %>
  </div>
</div>