
.section__conocenos{
	header {
	  padding: 156px 0 100px;
	}

	section {
	  padding: 150px 0;
	}

img{
	width:350px;
	border-radius:10px; 
}

.solo{
	color:#FFFFFF;
	font-family: Arial;
}

.hola{

	color:#3D4245;
}

hr{
	width:500px;
	color:black;
}
ul{
	font-size:26px;
	color:black;
}
.rex{
	
	background-color:#ECEDFC;
	border-radius:30px;
	width:400px;
	height:70px;

}
}
