<div class="col-md-4">
	<figure class="figure">
		<%= image_tag image.picture, class: "figure-img img-fluid rounded"  %>
	</figure>
	<figcaption class="figure-caption"><%= image.description %> <br>
		<%= link_to 'Editar', edit_admin_image_path(image), class: "btn btn-warning" %>
		<%= link_to 'Eliminar', admin_image_path(image), method: :delete, data: { confirm: "Seguro que quieres eliminar la imagen?"}, class: "btn btn-danger" %>		
	</figcaption>
</div>