<!-- Sidebar -->
<div class="bg-primary text-white border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
  	<div class="container">
  		<h1>Logo</h1>	
  	</div>
	<div class="list-group list-group-flush">
		<br>
		<div class="form-group">
			<%= link_to "Home", root_path, class: "text-white" %>
		</div>
		<br>
		<div class="form-group">
			<%= link_to "Eventos", admin_events_path, class: " text-white" %>
		</div>
		<br>
		<div class="form-group">
			<%= link_to "Centro de intereses", admin_centros_path, class: " text-white" %>
		</div>
  	</div>
  </div>
</div>
