<!-- Sidebar -->
<div class="bg-third text-white border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
	<h1>Logo</h1>
  </div>
  <div class="list-group list-group-flush">
  	<%= link_to "Home admin", class: "bg-third text-white list-group-item list-group-item-action" %>

  	<%= link_to "Servicios", class: "bg-third text-white list-group-item list-group-item-action" %>

  	<%= link_to "Blog", class: "bg-third text-white list-group-item list-group-item-action" %>

  	<%= link_to "Casos de estudio", class: "bg-third text-white list-group-item list-group-item-action" %>
  </div>
</div>
